.box {
  width: 40%;
  height: 80vh;
  margin: 2rem;
  height: fit-content;
}

.box li {
  border: 1px solid rgba(221, 221, 221, 1);
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26);
}

.firstli {
  padding: 7px !important;
  font-size: 17px;
  font-weight: bold;
  background-color: rgba(51, 51, 51, 0.137);
  color: rgba(51, 51, 51, 0.644);
  border-radius: 0px !important;
}

.firstDiv {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subFirst {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subFirst div {
  text-align: left;
}

.secDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.amt {
  text-align: center;
  padding-right: 3rem;
}

.usd {
  margin-right: 1rem;
  width: 4rem;
}
.asset {
  padding-left: 20px;
}
.section {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectamt {
  padding-right: 30px;
}

@media screen and (max-width: 678px) {
  .box {
    width: 92%;
    margin: 1rem;
    max-width: 100%;
  }
}
